.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.icon{
    width: 5,625rem;
    height: 5,625rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.icon:hover >i {
    scale: 1.2;
    color: #f1f1f1;
}
.icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}